.warna-bg{
	background: linear-gradient(to right, rgba(91,134,229, .92), rgba(54,209,220, .92));
}

.jumbotron-bg{
	background-size: cover;
	background: url(../img/bg_pelajaran.jpeg);
	background-size: 300px;
}

.card-img-top-smp{
	height: 142px;
}

.card-img-top-sma{
	height: 142px;
}

.row{
	justify-content: center;
}

.btn-primary{
	margin-left: 10px;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
  }
  
footer p {
	margin-bottom: .25rem;
  }